# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VGS.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Solid_Snake\Documents\[VenoX-Global-Systems]\altV-GlobalBan\.idea\.idea.VGS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
